.popup__button_close {
  border: 0;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: -48.28px;
  right: -48.28px;
  width: 56.56px;
  height: 56.56px;
  background-image: url("../../../../images/close-icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.popup__button_close:hover {
  transition: opacity 0.4s linear 0s;
  opacity: 0.6;
}

@media screen and (max-width: 798px) {
  .popup__button_close {
    top: -51px;
    right: 0;
    width: 36.76px;
    height: 36.76px;
    background-size: 100%;
  }
}

.popup__button_close:focus {
  outline: none !important;
}